.container {
  background-color: white;
  margin-top: 5vh;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #341809;
  font-family: Odibee Sans;
  text-align: center;
  font-size: 70px;
  line-height: 20vh;
}

.firstpage {
  background: white;
}
.stripe {
  border: 1px black dashed;
  margin: auto;
  overflow: visible !important;
  margin-bottom: 1px;
}

.container {
  width: 80vw;
  margin-left: 10vw;
}

.secondpage1 {
  background-color: #FE2712;
  background-image: linear-gradient(#FE2712, #EA202C);
}
.secondpage2 {
  background-color: #EA202C;
  background-image: linear-gradient(#EA202C, #D61A46);
}
.secondpage3 {
  background-color: #D61A46;
  background-image: linear-gradient(#D61A46, #C21460);
}
.secondpage4 {
  background-color: #C21460;
  background-image: linear-gradient(#C21460, #AE0D7A);
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
    margin-left: 2.5vw;
  }
}
