<div class="container">

	<div id="poster1" class="stripe">
		<div class="firstpage">
			Non so
		</div>
		<div class="secondpage1">
			Domenica
		</div>
	</div>
	<div id="poster2" class="stripe">
		<div class="firstpage">
			che farò
		</div>
		<div class="secondpage2">
			ci prendiamo
		</div>
	</div>
	<div id="poster3" class="stripe">
		<div class="firstpage">
			questo
		</div>
		<div class="secondpage3">
			una
		</div>
	</div>
	<div id="poster4" class="stripe">
		<div class="firstpage">
			Sabato
		</div>
		<div class="secondpage4">
			pizza?
		</div>
	</div>

</div>
